body {
    margin: 0;
    font-family: "Oxygen", sans-serif;
}

/* NAVBAR */
nav {
    background-image: url(https://images.unsplash.com/photo-1496629062893-b0f566065d44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
    height: 500px;
    margin: 0;
}

.navbar--header, .navbar--subheader {
    text-align: center;
    text-transform: uppercase;
    margin: auto;
}

.navbar--header {
    padding-top: 6%;
}

.navbar--header a {
    text-decoration: none;
    color: #000;
    font-size: 59px;
}

.navbar--subheader {
    font-size: 15;
    color: gray;
    font-weight: lighter;
}

.navbar--container {
    display: flex;
    list-style-type: none;
    background: #000;
    border-radius: 50px;
    justify-content: space-evenly;
    padding: 0px 44px;
    width: 46%;
    height: 15%;
    margin-left: 27%;
    margin-top: 5%;
}

.navbar--container li {
    margin: auto;
}

.navbar--container li a {
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
}

.navbar--container li a:hover {
    color: white;
}
/* NAVBAR */

/* MAIN */
main {
    background: repeating-linear-gradient(
        45deg,
        #ededed,
        #bfbfbf 3px,
        #ededed 3px,
        #bfbfbf 6px
      );
}

.main--top-content {
    width: 60%;
    margin: 0 15%;
}

.main--top-header {
    font-size: 40px;
    margin: 0 0 20px 0;
    padding-top: 50px;
}

.main--top-container {
    display: flex;
    justify-content: space-between;
}

.main--top-card {
    margin-right: 95px;
}

.main--top-image {
    width: 250px;
    border-radius: 10px;
}

.main--top-button {
    background: #000;
    border-radius: 5px;
    margin: 29px 0px;
    padding: 12px 22px;
    text-transform: uppercase;
    color: white;
    border: 0;
    box-shadow: none;
}

.main--top-button:hover {
    background: #383838;
}
/* MAIN */

/* FOOTER */
footer {
    background: #000;
    color: rgb(255, 255, 255, 0.2);
    height: 120px;
    text-align: center;
    margin: auto;
}

.footer--content {
    padding-top: 45px;
}

.footer--link {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.3);
}



/* FOOTER */