body {
    margin: 0;
    font-family: "Oxygen", sans-serif;
}

/* NAVBAR */
nav {
    background-image: url(https://images.unsplash.com/photo-1506574723610-7fe0f0c7f9ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
    height: 500px;
    margin: 0;
}

.navbar--header, .navbar--subheader {
    text-align: center;
    text-transform: uppercase;
    margin: auto;
}

.navbar--header {
    padding-top: 6%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.navbar--header a {
    text-decoration: none;
    color: #000;
    font-size: 59px;
}

.navbar--subheader {
    font-size: 17px;
    color: gray;
    font-weight: lighter;
}

.navbar--container {
    display: flex;
    list-style-type: none;
    background: #000;
    border-radius: 50px;
    justify-content: space-evenly;
    padding: 0px 44px;
    width: 46%;
    height: 15%;
    margin-left: 27%;
    margin-top: 5%;
}

.navbar--container li {
    margin: auto;
}

.navbar--container li a {
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
}

.navbar--container li a:hover {
    color: white;
}
/* NAVBAR */

/* MAIN */
main {
    background: repeating-linear-gradient(
        45deg,
        #ededed,
        #bfbfbf 3px,
        #ededed 3px,
        #bfbfbf 6px
      );
}

.main--top-content {
    width: 60%;
    margin: 0 15%;
}

.main--top-header {
    font-size: 40px;
    margin: 0 0 20px 0;
    padding-top: 50px;
}

.main--top-container {
    display: flex;
    justify-content: space-between;
}

.main--top-card {
    margin-right: 95px;
}

.main--top-image {
    width: 250px;
    border-radius: 10px;
}

.main--button {
    background: #000;
    border-radius: 5px;
    margin: 29px 0px;
    padding: 12px 22px;
    text-transform: uppercase;
    color: white;
    border: 0;
    box-shadow: none;
}

.main--button:hover {
    background: #383838;
}

.main--divider {
    border-top: 2px solid #000;
    margin: 100px 0px 70px 0px;
    width: 60%;
    margin-left: 20%;
}

.main--bottom-content {
    display: flex;
    width: 60%;
    margin: 0 15%;
}

.main--bottom-container-1 {
    width: 70%;
}

.main--bottom-header {
    font-size: 40px;
    margin: 0;
    padding-top: 50px;
}

.main--bottom-subheader {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: lighter;
}

.main--bottom-image {
    width: 100%;
    height: 20%;
    object-fit: cover;
    border-radius: 5px;
}

.main--bottom-description {
    line-height: 2;
}

.main--bottom-description a {
    color: red;
}

.main--bottom-container-2 {
    margin-left: 120px;
    width: 35%;
}

.main--bottom-right-header {
    font-size: 29px;
    font-weight: bold;
    margin: 10px 0 0 0;
    padding-top: 50px;
}

.main--bottom-container-2 a {
    display: block;
    color: red;
    line-height: 2;
}
/* MAIN */

/* FOOTER */
footer {
    background: #000;
    color: rgb(255, 255, 255, 0.2);
    height: 120px;
    text-align: center;
    margin: auto;
}

.footer--content {
    padding-top: 45px;
}

.footer--link {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.3);
}



/* FOOTER */